h1 {
    text-align: center;
}
header {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 200px 200px;
    top: 0;
    background-image: url("../image/assignment-309-iconic-locations-zack.knudsen-0-1510932796-1024x684.jpg");
    background-size: cover;
    background-attachment: scroll;
    background-position: 80%;
    z-index: 9999;
}

header nav {
    margin: 7px 0;
  }
  
  header nav ul {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      align-items: center;
      list-style: none;
  }
  
  header nav ul li a{
      padding: 10px 15px;
      font-weight: lighter;
      font-size: 1.55vw;
      text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  }
  
  header nav ul li a:hover {
    background: chocolate;
    color: white;
    text-shadow: none;
  }

  .columns{
    background-color: rgb(70, 79, 122);
  }

  .column {
    border-left: 5px solid white;
  }

  .amenities {
    text-align: center;
  }